.App {
  text-align: center;
  
}
body{
  justify-content: center;
  align-items: center;
}
.light{
  background-color: #f7f7f7;
  color:black
}
.dark{
  background-color: #0b0909;
  color:#f7f7f7
}

.light:root{
  
  --color:red
}
.dark:root{
  
  --color:yellow
}
body{
color:var(--color)
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
